{% extends 'manager_app/base.html' %}

{% block static_extension %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/form-workspace-create.css' %}" type="text/css"/>
{% endblock static_extension %}


{% block content %}
<div class="container pt-3 pb-3">

  <div class="topnav">
    <div class="d-flex" style="justify-content: space-between;"> 
      <div class="search-area" >
        <input type="text" placeholder="Search..">
        <div class="btn btn-primary"> Tìm </div>
      </div>
      
        
        <a href="/manager/workspace-list-view/{{workspace_id}}/"><div class="btn btn-warning"> Quay Lại </div></a>
    </div>
  </div>

  <br><br><br>
    <div class="row text-center">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Trạng Thái Tham Gia</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for staff in staffs %}
                    <tr>    
                        <td> {{staff.id}}</td>
                        <td> {{staff.username}}</a></td>
                        <td> {{staff.email}} </td>
                        <td> 
                            {% if staff.status == True %}
                                <span class="staff-status" style="color: green; font-weight: bolder;"> {{staff.status}} </span>
                            {% else %}
                                <span class="staff-status" style="color: red; font-weight: bolder;"> {{staff.status}} </span>
                            {% endif %}
                            <a href='{{staff.username}}/workspace-add-user-update-view/'> <img src="{% static 'img/change.png' %}" alt="change_symbols" style="width: 20px; height: 20px;"> </a> 
                        </td>                         
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>        


</div>

{% endblock content %}
