{% extends 'manager_app/base.html' %}

{% block static_extension %}

{% endblock static_extension %}


{% block content %}
{% load static %}

<div class="container pt-3 pb-3">
    <div class="action-items d-flex" style="justify-content: space-between; width: 100%;">
        <a href="/workspace-add-user-view/"><div class="btn btn-primary"> Xem Thống Kê </div></a>    
        <a href="/staff/workspace-list-view/"><div class="btn btn-warning"> Quay Lại </div></a>    
    </div>

    <br><br><br>
    <div class="d-flex" style="justify-content: space-between;">
        <div class="search-area">
            <input type="text" placeholder="Search..">
            <div class="btn btn-primary"> Tìm </div>
        </div>
    </div>
    
    {% for key, value in clusters.items %}
        <br><br><br>
        <h3>{{key}}</h3>        
        <div class="row text-center">
            <div class="col-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Tên Công Việc</th>
                            <th>Trạng Thái</th>
                            <th>Thời Gian Tạo</th>
                            <th>Thời Dự Kiến Hoàn Thành</th>           
                            <th>Nhân Viên Phụ Trách</th>           
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in value %}
                        <tr>
                            <td>{{task.id}}</td>
                            <td> <a href="/staff/workspace-list-view/{{workspace_id}}/{{task.id}}/"> {{task.name}} </a></td>                        
                            <td>
                                
                                <span class="left-symbol">
                                    <a href="{{task.id}}/left"><img src="{% static 'img/left.jpg' %}" alt="left" style="width: 20px; height: 20px;"></a>
                                </span>
                                {% if task.status == "chưa xác nhận" %}
                                    <span class="staff-status" style="color: red; font-weight: bolder;"> {{task.status}} </span>
                                {% elif task.status == "đang xử lý" %}
                                    <span class="staff-status" style="color: darkorange; font-weight: bolder;"> {{task.status}} </span>
                                {% elif task.status == "đã hoàn thành" %}
                                    <span class="staff-status" style="color: green; font-weight: bolder;"> {{task.status}} </span>
                                {% else %}
                                    <span class="staff-status" style="color: darkgreen; font-weight: bolder;"> {{task.status}} </span>
                                {% endif %}
                                <span class="right-symbol">
                                    <a href="{{task.id}}/right"><img src="{% static 'img/right.jpg' %}" alt="right" style="width: 20px; height: 20px;"></a>
                                </span>

                            </td>
                            <td>{{task.created_at|date:'d/m/Y'}}</td>
                            <td>{{task.due_at|date:'d/m/Y'}} </td>
                            <td>{{task.staff_workspace.staff.get_full_name}} </td>                        
                        </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </div>
        </div>        
    {% endfor %}

    
</div>

{% endblock content %}
